<div class="left"></div>
<div class="right"></div>
<style>
  body {
      background: #926927;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
  }

  div {
      width: 100px;
      height: 200px;
      background: #F8B140;
  }

  .right {
      border-radius: 100px 0 0 100px;
  }

  .left {
      border-radius: 0 100px 100px 0;
  }
    </style>
