<div a>
  <div b></div>
  <div c></div>
  <div d></div>
</div>
<style>
body{
  background:#191919;
  display:grid;
  place-content:center
}
  div{
    width:200px;
    height:200px;
    border-radius:50%;
   position:absolute;
  }
  [a] {
    width: 150px;
    background: #F2AD43;
    border-radius:100px 100px 30px 30px;
    overflow:hidden;
    position:relative;
  }
  [b]{
    width:60px;
    height:60px;
    background:#FFF58F;
    top:45%;
    left:30%;
  }
  [c]{
    background:#E08027;
    top:50%;
    left:-67%;
  }
  [d]{
    background:#824B20;
    top:50%;
    left:33%;
  }
</style>