<div a>
  <div b></div>
  <div c></div>
  <div d></div>
</div>
<style>
  body{
    background:#293462;
    display:grid;
    place-content:center;
  }
  div{
    background:#FE5F55;
    width:40px;
    position:absolute;
  }
  [a] {
    width: 150px;
    height: 100px;
    background: #FFF1C1;
    border-radius:0 0 50px 50px;
    position:relative;
  }
  [b]{
    width: 270px;
    height: 60px;
    left:-40%;
    border-radius:100px;
    background:transparent;
    box-shadow:inset 0 0 0 10px #FFF1C1;
  }
  [c]{
    height:10px;
    border-radius:50px;
    top:20;
    left:20;
    box-shadow: 0 20px 0 #FE5F55;
  }
  [d]{
    height:40px;
    border-radius:50%;
    top:40;
    left:90;
  }
</style>